
@model BotSpiel.DataAccess.Models.InventoryUnitTransactionContexts

@{
    ViewBag.Title = "Details Inventory Unit Transaction Contexts";
}
<br>
<h2>Details</h2>

<div>
    <h4>Inventory Unit Transaction Contexts</h4>
    <hr />
    <dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ixInventoryUnitTransactionContext)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ixInventoryUnitTransactionContext)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sInventoryUnitTransactionContext)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sInventoryUnitTransactionContext)
		</dd>


    </dl>
</div>
<p>    @Html.ActionLink("Grid", "Index")
</p>

 

