
@model BotSpiel.DataAccess.Models.OutboundOrderLinesInventoryAllocation

@{
    ViewBag.Title = "Details Outbound Order Lines Inventory Allocation";
}
<br>
<h2>Details</h2>

<div>
    <h4>Outbound Order Lines Inventory Allocation</h4>
    <hr />
    <dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ixOutboundOrderLineInventoryAllocation)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ixOutboundOrderLineInventoryAllocation)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sOutboundOrderLineInventoryAllocation)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sOutboundOrderLineInventoryAllocation)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.OutboundOrderLines.sOutboundOrderLine)
		</dt>
		<dd>
			@Html.ActionLink(Model.OutboundOrderLines.sOutboundOrderLine, "Details", "OutboundOrderLines", new { id = Model.ixOutboundOrderLine }, null)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.nBaseUnitQuantityAllocated)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.nBaseUnitQuantityAllocated)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.nBaseUnitQuantityPicked)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.nBaseUnitQuantityPicked)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Statuses.sStatus)
		</dt>
		<dd>
			@Html.ActionLink(Model.Statuses.sStatus, "Details", "Statuses", new { id = Model.ixStatus }, null)
		</dd>


    </dl>
</div>
<p>    @Html.ActionLink("Grid", "Index")
</p>

 

