
@model BotSpiel.DataAccess.Models.OutboundCarrierManifestPickups

@{
    ViewBag.Title = "Details Outbound Carrier Manifest Pickups";
}
<br>
<h2>Details</h2>

<div>
    <h4>Outbound Carrier Manifest Pickups</h4>
    <hr />
    <dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ixOutboundCarrierManifestPickup)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ixOutboundCarrierManifestPickup)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sOutboundCarrierManifestPickup)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sOutboundCarrierManifestPickup)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.OutboundCarrierManifests.sOutboundCarrierManifest)
		</dt>
		<dd>
			@Html.ActionLink(Model.OutboundCarrierManifests.sOutboundCarrierManifest, "Details", "OutboundCarrierManifests", new { id = Model.ixOutboundCarrierManifest }, null)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Statuses.sStatus)
		</dt>
		<dd>
			@Html.ActionLink(Model.Statuses.sStatus, "Details", "Statuses", new { id = Model.ixStatus }, null)
		</dd>


    </dl>
</div>
<p>    @Html.ActionLink("Edit", "Edit", new { id = Model.ixOutboundCarrierManifestPickup }) |
	@Html.ActionLink("Delete", "Delete", new { id = Model.ixOutboundCarrierManifestPickup }) |
    @Html.ActionLink("Grid", "Index")
</p>

 

