
@model BotSpiel.DataAccess.Models.InventoryStates

@{
    ViewBag.Title = "Details Inventory States";
}
<br>
<h2>Details</h2>

<div>
    <h4>Inventory States</h4>
    <hr />
    <dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ixInventoryState)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ixInventoryState)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sInventoryState)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sInventoryState)
		</dd>


    </dl>
</div>
<p>    @Html.ActionLink("Grid", "Index")
</p>

 

