@*//Custom Code Start | Added Code Block*@
@using System.Linq;
@using System.Collections.Generic;
@using BotSpiel.Services;
@using BotSpiel.DataAccess.Models;
@inject IInventoryLocationsSlottingService _inventoryLocationsSlottingService
@inject IInventoryLocationsService _inventoryLocationsService
@*//Custom Code End*@
@model BotSpiel.DataAccess.Models.InventoryLocations

@{
	ViewBag.Title = "Details Inventory Locations";
}
<br>
<h2>Details</h2>

<div>
	<h4>Inventory Locations</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ixInventoryLocation)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ixInventoryLocation)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sInventoryLocation)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sInventoryLocation)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.LocationFunctions.sLocationFunction)
		</dt>
		<dd>
			@Html.ActionLink(Model.LocationFunctions.sLocationFunction, "Details", "LocationFunctions", new { id = Model.ixLocationFunction }, null)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Facilities.sFacility)
		</dt>
		<dd>
			@Html.ActionLink(Model.Facilities.sFacility, "Details", "Facilities", new { id = Model.ixFacility }, null)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Companies.sCompany)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Companies.sCompany)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.FacilityFloors.sFacilityFloor)
		</dt>
		<dd>
			@Html.ActionLink(Model.FacilityFloors.sFacilityFloor, "Details", "FacilityFloors", new { id = Model.ixFacilityFloor }, null)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.FacilityZones.sFacilityZone)
		</dt>
		<dd>
			@Html.ActionLink(Model.FacilityZones.sFacilityZone, "Details", "FacilityZones", new { id = Model.ixFacilityZone }, null)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.FacilityWorkAreas.sFacilityWorkArea)
		</dt>
		<dd>
			@Html.ActionLink(Model.FacilityWorkAreas.sFacilityWorkArea, "Details", "FacilityWorkAreas", new { id = Model.ixFacilityWorkArea }, null)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.FacilityAisleFaces.sFacilityAisleFace)
		</dt>
		<dd>
			@Html.ActionLink(Model.FacilityAisleFaces.sFacilityAisleFace, "Details", "FacilityAisleFaces", new { id = Model.ixFacilityAisleFace }, null)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sLevel)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sLevel)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sBay)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sBay)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sSlot)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sSlot)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.InventoryLocationSizes.sInventoryLocationSize)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.InventoryLocationSizes.sInventoryLocationSize)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.nSequence)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.nSequence)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.nXOffset)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.nXOffset)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ixXOffsetUnit)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.UnitsOfMeasurementFKDiffXOffsetUnit.sUnitOfMeasurement)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.nYOffset)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.nYOffset)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ixYOffsetUnit)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.UnitsOfMeasurementFKDiffYOffsetUnit.sUnitOfMeasurement)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.nZOffset)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.nZOffset)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ixZOffsetUnit)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.UnitsOfMeasurementFKDiffZOffsetUnit.sUnitOfMeasurement)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sLatitude)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sLatitude)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sLongitude)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sLongitude)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.bTrackUtilisation)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.bTrackUtilisation)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.nUtilisationPercent)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.nUtilisationPercent)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.nQueuedUtilisationPercent)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.nQueuedUtilisationPercent)
		</dd>


	</dl>
</div>

@*//Custom Code Start | Added Code Block*@
<div>
	@{
		List<BotSpiel.DataAccess.Models.InventoryLocationsSlotting> inventorylocationsslotting = new List<InventoryLocationsSlotting>();
		//Add empty record
		InventoryLocationsSlotting inventorylocationsSlot = new InventoryLocationsSlotting();
		inventorylocationsSlot.ixInventoryLocation = Model.ixInventoryLocation;
		inventorylocationsSlot.InventoryLocations.ixInventoryLocation = Model.ixInventoryLocation;
		inventorylocationsslotting.Add(inventorylocationsSlot);
		_inventoryLocationsSlottingService.IndexDb().Where(x => x.ixInventoryLocation == Model.ixInventoryLocation).ToList().ForEach(x =>
			{
				inventorylocationsslotting.Add(x);
			}
			);
	}
	@{
		var inventoryLocation = _inventoryLocationsService.Get(Model.ixInventoryLocation);
		if (@inventoryLocation.LocationFunctions.sLocationFunctionCode == "FP")
		{
			@await Html.PartialAsync("IndexInventoryLocationsSlotting", inventorylocationsslotting);
		}
	}
</div>
@*//Custom Code End*@

<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.ixInventoryLocation }) |
	@Html.ActionLink("Delete", "Delete", new { id = Model.ixInventoryLocation }) |
	@Html.ActionLink("Grid", "Index")
</p>



