
@model BotSpiel.DataAccess.Models.OutboundOrderTypes

@{
    ViewBag.Title = "Details Outbound Order Types";
}
<br>
<h2>Details</h2>

<div>
    <h4>Outbound Order Types</h4>
    <hr />
    <dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ixOutboundOrderType)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ixOutboundOrderType)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sOutboundOrderType)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sOutboundOrderType)
		</dd>


    </dl>
</div>
<p>    @Html.ActionLink("Grid", "Index")
</p>

 

