
@model BotSpiel.DataAccess.Models.CarrierTypes

@{
    ViewBag.Title = "Details Carrier Types";
}
<br>
<h2>Details</h2>

<div>
    <h4>Carrier Types</h4>
    <hr />
    <dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ixCarrierType)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ixCarrierType)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sCarrierType)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sCarrierType)
		</dd>


    </dl>
</div>
<p>    @Html.ActionLink("Grid", "Index")
</p>

 

