@*//Custom Code Start | Added Code Block*@
@using System.Linq;
@using System.Collections.Generic;
@using BotSpiel.Services;
@using BotSpiel.DataAccess.Models;
@inject IOutboundOrderLinesService _outboundorderlinesService
@*//Custom Code End*@
@model BotSpiel.DataAccess.Models.OutboundOrders

@{
    ViewBag.Title = "Details Outbound Orders";
}
<br>
<h2>Details</h2>

<div>
    <h4>Outbound Orders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ixOutboundOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ixOutboundOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sOutboundOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sOutboundOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sOrderReference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sOrderReference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OutboundOrderTypes.sOutboundOrderType)
        </dt>
        <dd>
            @Html.ActionLink(Model.OutboundOrderTypes.sOutboundOrderType, "Details", "OutboundOrderTypes", new { id = Model.ixOutboundOrderType }, null)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Facilities.sFacility)
        </dt>
        <dd>
            @Html.ActionLink(Model.Facilities.sFacility, "Details", "Facilities", new { id = Model.ixFacility }, null)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Companies.sCompany)
        </dt>
        <dd>
            @Html.ActionLink(Model.Companies.sCompany, "Details", "Companies", new { id = Model.ixCompany }, null)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BusinessPartners.sBusinessPartner)
        </dt>
        <dd>
            @Html.ActionLink(Model.BusinessPartners.sBusinessPartner, "Details", "BusinessPartners", new { id = Model.ixBusinessPartner }, null)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dtDeliverEarliest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dtDeliverEarliest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dtDeliverLatest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dtDeliverLatest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CarrierServices.sCarrierService)
        </dt>
        <dd>
            @Html.ActionLink(Model.CarrierServices.sCarrierService, "Details", "CarrierServices", new { id = Model.ixCarrierService }, null)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Statuses.sStatus)
        </dt>
        <dd>
            @Html.ActionLink(Model.Statuses.sStatus, "Details", "Statuses", new { id = Model.ixStatus }, null)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PickBatches.sPickBatch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PickBatches.sPickBatch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OutboundShipments.sOutboundShipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutboundShipments.sOutboundShipment)
        </dd>


    </dl>
</div>

@*//Custom Code Start | Added Code Block*@
<div>
    @{
        List<BotSpiel.DataAccess.Models.OutboundOrderLines> orderLines = new List<OutboundOrderLines>();
        //Add empty record
        OutboundOrderLines outboundOrderLines = new OutboundOrderLines();
        outboundOrderLines.ixOutboundOrder = Model.ixOutboundOrder;
        outboundOrderLines.OutboundOrders.ixOutboundOrder = Model.ixOutboundOrder;
        orderLines.Add(outboundOrderLines);
        _outboundorderlinesService.IndexDb().Where(x => x.ixOutboundOrder == Model.ixOutboundOrder).ToList().ForEach(x =>
            {
                orderLines.Add(x);
            }
            );
    }
    @await Html.PartialAsync("IndexOutboundOrderLines", orderLines)
</div>
@*//Custom Code End*@

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ixOutboundOrder }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ixOutboundOrder }) |
    @Html.ActionLink("Grid", "Index")
</p>



