
@model BotSpiel.DataAccess.Models.UnitOfMeasurementConversionsPost

@{
    ViewBag.Title = "Create Unit Of Measurement Conversions";
}
<br>
<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Unit Of Measurement Conversions</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
			@Html.ActionLink("Unit Of Measurement From ID", "Index", "UnitsOfMeasurement", "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ixUnitOfMeasurementFrom", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ixUnitOfMeasurementFrom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
			@Html.ActionLink("Unit Of Measurement To ID", "Index", "UnitsOfMeasurement", "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ixUnitOfMeasurementTo", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ixUnitOfMeasurementTo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nMultiplier, "Multiplier", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nMultiplier, new { htmlAttributes = new { @class = "form-control", @placeholder = "Required" } })
                @Html.ValidationMessageFor(model => model.nMultiplier, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Grid", "Index")
</div>

@section Scripts {
}

 

