@*//Custom Code Start | Added Code Block*@
@using System.Linq;
@using System.Collections.Generic;
@using BotSpiel.Services;
@using BotSpiel.DataAccess.Models;
@inject IOutboundOrdersService _outboundOrdersService
@*//Custom Code End*@
@model BotSpiel.DataAccess.Models.PickBatches

@{
	ViewBag.Title = "Details Pick Batches";
}
<br>
<h2>Details</h2>

<div>
	<h4>Pick Batches</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ixPickBatch)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ixPickBatch)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sPickBatch)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sPickBatch)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.PickBatchTypes.sPickBatchType)
		</dt>
		<dd>
			@Html.ActionLink(Model.PickBatchTypes.sPickBatchType, "Details", "PickBatchTypes", new { id = Model.ixPickBatchType }, null)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.bMultiResource)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.bMultiResource)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.dtStartBy)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.dtStartBy)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.dtCompleteBy)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.dtCompleteBy)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Statuses.sStatus)
		</dt>
		<dd>
			@Html.ActionLink(Model.Statuses.sStatus, "Details", "Statuses", new { id = Model.ixStatus }, null)
		</dd>


	</dl>
</div>

@*//Custom Code Start | Added Code Block*@
<div>
	@{
		List<BotSpiel.DataAccess.Models.OutboundOrders> outboundOrders = new List<OutboundOrders>();
		//Add empty record
		OutboundOrders outboundOrder = new OutboundOrders();
		outboundOrder.ixPickBatch = Model.ixPickBatch;
		outboundOrder.PickBatches.ixPickBatch = Model.ixPickBatch;
		outboundOrders.Add(outboundOrder);
		_outboundOrdersService.IndexDb().Where(x => x.ixPickBatch == Model.ixPickBatch).ToList().ForEach(x =>
			{
				outboundOrders.Add(x);
			}
			);
	}
	@await Html.PartialAsync("IndexOutboundOrders", outboundOrders)
</div>
@*//Custom Code End*@

<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.ixPickBatch }) |
	@Html.ActionLink("Delete", "Delete", new { id = Model.ixPickBatch }) |
	@Html.ActionLink("Grid", "Index")
</p>



