@using System.Linq;
@using System.Collections.Generic;
@using BotSpiel.Services;
@using BotSpiel.Services.Utilities;
@inject ILanguageStylesService _languagestylesService
@model BotSpiel.DataAccess.Models.LanguageStyles

@{
    ViewBag.Title = "Delete Language Styles";
}

@{
    string conCat = "";
    List<string> existInEntities = new List<string>();
    bool DeleteOK = true;
    existInEntities = _languagestylesService.VerifyLanguageStyleDeleteOK(Model.ixLanguageStyle, Model.sLanguageStyle);
    if (existInEntities.Any()) { DeleteOK = false; }
}


@if (DeleteOK)
{

<br>
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Language Styles</h4>
    <hr />
    <dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ixLanguageStyle)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ixLanguageStyle)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sLanguageStyle)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sLanguageStyle)
		</dd>
 
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Grid", "Index")
        </div>
    }
</div>
}
else
{
    <br>
    <h2>Delete</h2>

    <h3>The LanguageStyle @Model.sLanguageStyle cannot be deleted. It is referenced by the following entities:</h3>
    <hr />
    @foreach (var entity in existInEntities)
    {
        conCat = String.Join(" ", StringSplitters.SplitCamelCase(@entity.ToString()));
        <h4>@Html.ActionLink(@conCat.ToString(), "Index", @entity.ToString())</h4>
        <hr />
    }

    <h3>If you want to delete the LanguageStyle, delete the dependent references first.</h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Grid", "Index")
        </div>
    }

}
 

