
@model BotSpiel.DataAccess.Models.MoveQueueContexts

@{
    ViewBag.Title = "Details Move Queue Contexts";
}
<br>
<h2>Details</h2>

<div>
    <h4>Move Queue Contexts</h4>
    <hr />
    <dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ixMoveQueueContext)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ixMoveQueueContext)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sMoveQueueContext)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sMoveQueueContext)
		</dd>


    </dl>
</div>
<p>    @Html.ActionLink("Grid", "Index")
</p>

 

