@using System.Linq;
@using System.Collections.Generic;
@using BotSpiel.Services;
@using BotSpiel.Services.Utilities;
@inject IReceivingService _receivingService
@model BotSpiel.DataAccess.Models.Receiving

@{
    ViewBag.Title = "Delete Receiving";
}

@{
    string conCat = "";
    List<string> existInEntities = new List<string>();
    bool DeleteOK = true;
    existInEntities = _receivingService.VerifyReceiptDeleteOK(Model.ixReceipt, Model.sReceipt);
    if (existInEntities.Any()) { DeleteOK = false; }
}


@if (DeleteOK)
{

<br>
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Receiving</h4>
    <hr />
    <dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ixReceipt)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ixReceipt)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sReceipt)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sReceipt)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.InventoryLocations.sInventoryLocation)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.InventoryLocations.sInventoryLocation)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.InboundOrders.sInboundOrder)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.InboundOrders.sInboundOrder)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.HandlingUnits.sHandlingUnit)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.HandlingUnits.sHandlingUnit)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Materials.sMaterial)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Materials.sMaterial)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.MaterialHandlingUnitConfigurations.sMaterialHandlingUnitConfiguration)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.MaterialHandlingUnitConfigurations.sMaterialHandlingUnitConfiguration)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.HandlingUnitTypes.sHandlingUnitType)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.HandlingUnitTypes.sHandlingUnitType)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.nHandlingUnitQuantity)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.nHandlingUnitQuantity)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sSerialNumber)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sSerialNumber)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sBatchNumber)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sBatchNumber)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.dtExpireAt)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.dtExpireAt)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.nBaseUnitQuantityReceived)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.nBaseUnitQuantityReceived)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Statuses.sStatus)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Statuses.sStatus)
		</dd>
 
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Grid", "Index")
        </div>
    }
</div>
}
else
{
    <br>
    <h2>Delete</h2>

    <h3>The Receipt @Model.sReceipt cannot be deleted. It is referenced by the following entities:</h3>
    <hr />
    @foreach (var entity in existInEntities)
    {
        conCat = String.Join(" ", StringSplitters.SplitCamelCase(@entity.ToString()));
        <h4>@Html.ActionLink(@conCat.ToString(), "Index", @entity.ToString())</h4>
        <hr />
    }

    <h3>If you want to delete the Receipt, delete the dependent references first.</h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Grid", "Index")
        </div>
    }

}
 

