
@model BotSpiel.DataAccess.Models.Farewells

@{
    ViewBag.Title = "Details Farewells";
}
<br>
<h2>Details</h2>

<div>
    <h4>Farewells</h4>
    <hr />
    <dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ixFarewell)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ixFarewell)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sFarewell)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sFarewell)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Languages.sLanguage)
		</dt>
		<dd>
			@Html.ActionLink(Model.Languages.sLanguage, "Details", "Languages", new { id = Model.ixLanguage }, null)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.LanguageStyles.sLanguageStyle)
		</dt>
		<dd>
			@Html.ActionLink(Model.LanguageStyles.sLanguageStyle, "Details", "LanguageStyles", new { id = Model.ixLanguageStyle }, null)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sFarewellOffered)
		</dt>
		<dd>
			@Html.TextAreaFor(model => model.sFarewellOffered, 10, 120, htmlAttributes: new { style = "width: 100%; max-width: 100%;" ,  @readonly = true })
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sFarewellResponse)
		</dt>
		<dd>
			@Html.TextAreaFor(model => model.sFarewellResponse, 10, 120, htmlAttributes: new { style = "width: 100%; max-width: 100%;" ,  @readonly = true })
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ResponseTypes.sResponseType)
		</dt>
		<dd>
			@Html.ActionLink(Model.ResponseTypes.sResponseType, "Details", "ResponseTypes", new { id = Model.ixResponseType }, null)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.bActive)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.bActive)
		</dd>


    </dl>
</div>
<p>    @Html.ActionLink("Edit", "Edit", new { id = Model.ixFarewell }) |
	@Html.ActionLink("Delete", "Delete", new { id = Model.ixFarewell }) |
    @Html.ActionLink("Grid", "Index")
</p>

 

