
@model BotSpiel.DataAccess.Models.MaterialTypes

@{
    ViewBag.Title = "Details Material Types";
}
<br>
<h2>Details</h2>

<div>
    <h4>Material Types</h4>
    <hr />
    <dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ixMaterialType)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ixMaterialType)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.sMaterialType)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.sMaterialType)
		</dd>


    </dl>
</div>
<p>    @Html.ActionLink("Grid", "Index")
</p>

 

