
@model BotSpiel.DataAccess.Models.InventoryUnitsPost 

@{
    ViewBag.Title = "Edit Inventory Units";
}
<br>
<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Inventory Units</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ixInventoryUnit)

    <div class="form-group">
        @Html.ActionLink("Facility ID", "Index", "Facilities", "", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ixFacility", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ixFacility, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.ActionLink("Company ID", "Index", "Companies", "", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ixCompany", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ixCompany, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.ActionLink("Material ID", "Index", "Materials", "", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ixMaterial", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ixMaterial, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.ActionLink("Inventory State ID", "Index", "InventoryStates", "", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ixInventoryState", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ixInventoryState, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.ActionLink("Handling Unit ID", "Index", "HandlingUnits", "", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ixHandlingUnit", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ixHandlingUnit, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.ActionLink("Inventory Location ID", "Index", "InventoryLocations", "", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ixInventoryLocation", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ixInventoryLocation, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nBaseUnitQuantity, "Base Unit Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nBaseUnitQuantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nBaseUnitQuantity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sSerialNumber, "Serial Number", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sSerialNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sSerialNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sBatchNumber, "Batch Number", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sBatchNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sBatchNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dtExpireAt, "Expire At", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dtExpireAt, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dtExpireAt, "", new { @class = "text-danger" })
        </div>
    </div>
    @*//Custom Code Start | Removed Code Block*@
    @*<div class="form-group">
            @Html.ActionLink("Status ID", "Index", "Statuses", "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ixStatus", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ixStatus, "", new { @class = "text-danger" })
            </div>
        </div>*@
    @*//Custom Code End*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Edit" class="btn btn-default" />
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Grid", "Index")
</div>

@section Scripts {
}


 

